* {
    background-color: rgb(43, 220, 226);
}

h1 {
    color: rgb(2, 2, 56);
    margin-top: 100px;
    margin-left: 550px;
}

button {
    background-color: rgb(5, 58, 94);
    color: rgb(229, 229, 233);
    border-color: rgb(5, 58, 94);
}

.message {
    color: rgb(0, 0, 0);
}

.total {
    color: rgb(0, 0, 0);
}

.all {
    margin-top: 60px;
    margin-left: 600px;
}

#last {
    color: darkgreen;
    font-size: larger;

}